<ul>
    <li>
        <ul>Boks, K1 ProAm, MMA,
            <li>
                czas walki 3x2min lub 3x3min
            </li>
        </ul>
    </li>
    <li>
        <ul>Karate Kyokushin - K2M
            <li>
                2x2min (punktowana każda runda wygrany – przegrany w przypadku remisu dogrywka trzecia runda 1.5 min)
            </li>
        </ul>
    </li>
</ul>


